.ion_card{
    margin:15px !important;
    background: linear-gradient(45DEG,#EEEEEE,#FAF8F9,#FFFFFF)
}
.ion_img{
    width:100%;
}
.ion_toolbar{
    --background: #2e7d32;
    --color:white;
}
.ion_title{
    display:flex;
    align-items: center;
    gap:10px;
}

/* CSS for sliding effect */
.category-list {
    padding-left: 0;
    margin-left: 0;
    transition: transform 0.3s ease-out;
    transform: translateX(-100%);
  }
  
  .category-list.expanded {
    transform: translateX(0);
    padding-left: 20px; /* Add some space to the left of the list */
  }
  
  .category-list .IonItem {
    transition: transform 0.3s ease-out;
  }
  
  .category-list .IonItem {
    opacity: 0;
    transform: translateX(-30px); /* Initially move category items to the left */
  }
  
  .category-list.expanded .IonItem {
    opacity: 1;
    transform: translateX(0); /* Slide in the category items */
  }
  
  .categories{
    display: flex;
    justify-content: space-between;
    width:100%
  }

  .content{
    color:white;
    --background:#267e2ab3;
  }

  .categories_cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .category_card{
    width:44%;
  }


  
.styled-text{
    width:150px;
    text-wrap: wrap;
}
  
/* .upper-text{
    font-size: 18px;
} */
